@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", san-serif;
}

body {
  font-size: 16px;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

/* header elements */

.logo {
  width: 180px;
  height: auto;
  content: url("/src/background-pic/PhotoImageLogo.svg");
}
#collasible-nav-dropdown {
  color: black;
  font-weight: 400;
}
.navbar {
  margin-left: auto;
}

.nav-link {
  color: black;
}
.dropdown-menu {
  font-weight: 300;
}

.header {
  background-color: #ffc401;
  display: flex;
  height: auto;
  padding: 20px 20px 10px 20px;
  /* align-items: center; */
}


.topnav {
  background-color: #ffc401;
  display: flex;
}

.nav-link {
  color: black;
}
.dropdown-menu .show {
  background-color: black;
}
.dropdown-item {
  font-size: 12px;
}
.dropdown-item a {
  padding: 5px 10px;
}

.onlinelogo img {
  width: auto;
  height: 80px;
  margin-left: 15px;
  content: url("/src/background-pic/OrderOnline.svg");
}
.onlinelogo img:hover {
  content: url("/src/background-pic/OrderOnlineHover.svg");
}
@media only screen and (max-width: 480px) {
    .logo {
      align-items: flex-start;
      text-align: center;
    }
  .onlinelogo img {
    width: 50%;
    height: auto;
    content: url("/src/background-pic/Online.svg");
    align-items: flex-end;
  }

  .onlinelogo img:hover {
    width: 50%;
    height: auto;
    content: url("/src/background-pic/OnlineWhite.svg");
    align-items: flex-end;
  }
}


/* searchbar */
.search {
  border: none;
  display: flex;
}

.search input[type="text"] {
  border: none;
  height: 30px;
  padding-left: 5px;
}

.heroSearch {
  float: right;
  margin: 25px 25px 25px 25px ;
}
.darkSearch {
  float: right;
  margin: 25px 25px 25px 25px ;
}

.search button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
}

.dark-Search button {
  height: 30px;
  width: auto;
  background-color: #ffc401;
  color: black;
  border: none;
  font-weight: 300;
}
.dark-Search #searchInput {
  border: none;
  height: 30px;
  padding-right: 25px;
  background-color: black;
  color: #ffc401;
} 

@media only screen and (max-device-width: 480px) {
    .dark-Search {
        display: block;
        margin: 10px 10px 10px 10px ;
      }
    
    #searchInput {
        padding-right: 0px;
      }
    }

@media only screen and (min-width: 600px) and (min-width: 600px){
    
  }
/* 
.form-search .search {
  width: auto;
  margin: 0px 0px 0px 0px;
  z-index: 5;
}



#searchServiceList {
  display: hide;
  text-decoration: none;
  list-style-type: none;
}

/* main / hero / searchbar */
.main {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.hero {
  width: 100%;
  background-color: black;
  background-image: url("/src/background-pic/PhotoLab_428x483.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero {
    width: 100%;
    height: 415px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_768x423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)  and (max-width: 768px) {
  .hero {
    width: 100%;
    height: 575px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_768x423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    width: 100%;
    height: 550px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_768x423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

/* Medium devices (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_1024x570.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_1280x535.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1800px) {
  .hero {
    width: 100%;
    height: 800px;
    background-color: black;
    background-image: url("/src/background-pic/PhotoLab_1280x535.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }
}

.Services {
  width: auto;
  height: auto;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .Services {
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 835px) {
  .Services {
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
  }
}
.ServiceIcon {
  text-align: center;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 13px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  line-height: 1;
}

@media only screen and (max-width: 480px) {
  .ServiceIcon {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.ServiceIcon:hover {
  color: #ffc401;
}

.ServiceIcon img {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding: 0 0 5px 0;
}

.ServiceIcon img:hover {
  fill: #ffc401;
}

.online-services {
  text-align: center;
}
.ServiceOnline {
  margin-top: 15x;
  width: 10%;
  height: auto;
  background-color: transparent;
  border: none;
  padding: 10px 0 10px 0;
  font-weight: 400;
  font-size: 12px;
}

.ServiceOnline img {
  width: 35px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.submit {
  width: 45px;
  height: 45px;
}

/* Copyright & Privacy policy */
footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  font-size: 11px;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #ffc401;
}

footer a {
  color:#707070;
}

/* Our service Page */
.page-title {
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.page-title a {
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.page-title h2 {
  font-weight: 300;
  font-size: 30px;
}

.info-container{
    display: flex;
}
.info-container img{
    padding: 3px;
}
/* .Service_container{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .Service_container {
    display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  text-align: center;
  }
} */

@media only screen and (max-device-width: 600px) {
    .page-title {
        align-items: center;
        margin-left: 10px;
      }

    .page-title h2{
        text-align: center;
    }
    .storeInfo{
        display: block;
    }

    .Service_container{
        padding: 0px 0px;
        list-style-type: none;
        flex: none;
    }
    }
    .Service_container:hover {
    background-color: #ddd;
    }
    .Service_container img {
    background-color: lightgrey;
    width: 100%;
    object-fit: cover;
    }

  
.desc {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.desc ul {
  padding-inline-start: 25px;
}
.desc ul li {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

input {
  border: none;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

textarea {
  border: none;
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 200px;
}

/*contact */
.contact {
  display: flex;
}

/* TopBanner with service picture and list */
@media only screen and (min-width: 600px) {
  .service-banner {
    display: flex;
  }
}
.service-banner {
  background-repeat: no-repeat;
  background-color: #ddd;
}

.google-map-code {
  flex: 3;
  background-size: cover;
  height: 530px;
}

.contact-info {
  flex: 1;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
}

.contact-info a {
  color: white;
  text-align: left;
}

.contact-info a:hover {
  color: #ffc401;
  text-align: left;
}

.service-form {
  flex: 1;
  padding: 50px;
  background-color: black;
  color: white;
  margin-top: 0;
  margin-right: 0;  
  width: 100%;
}

.service-form a {
  color: white;
}

.service-form a:hover {
  color: #ffc401;
}

.service-form svg {
  fill: white;
}

.service-picture {
  flex: 3;
  background-size: cover;
}

.service-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .service-banner {
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: #ddd;
  }
  
  .service-form {
    flex: none;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 0;
    margin-right: 0;  
    width: 100%;
  }
  .service-picture {
    width: 100%;
    height: 100%;
  }

  .service-picture img  {
    background-image: contain;
    background-repeat: no-repeat;
    background-color: #ddd;
  }
  
}
.service-picture-order-online {
  background-image: url("/src/background-pic/photo-1508004680771-708b02aabdc0_photoService.jpg");
}

.service-picture-passport {
  background-image: url("/src/background-pic/photo-1576737064520-f45d313d17ff_passportService.jpg");
}



.Photo_Image_Service {
  display: flex;
  flex-wrap: wrap;
}


.upload {
  text-align: center;
  border: none;
  position: relative;
  padding: 5px 5px 5px 5px;
  background-color: #ddd;
  margin-top: 10px;
}

#file-upload button {
  width: auto;
  text-align: center;
}

.upload button {
  border: none;
  padding: 5px 5px 5px 5px;
  background-color: black;
  color: white;
}

div.Message input {
  margin-top: 15px;
  width: 100%;
}

.ServiceChoice {
  margin-top: 20px;
}

label {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

#submit {
  background-color: #ffc401;
  color: black;
  width: 100%;
  margin-top: 10px;
  padding: 3px 3px 3px 3px;
  border: none;
}

.Info {
  margin: 30px 30px 30px 30px;
  flex: 1;
}

.icon {
  display: flex;
}
.icon img {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 10px;
}

.icon p {
  margin: 10px;
}

.icon a {
  margin: 10px;
  text-align: center;
}

/*Photo Assistance */
.content {
  margin: 0 0 20px 0;
  padding: 25px 25px 25px 25px;
}
/* .grid-container {
  display: grid;
  justify-content: space-evenly;
  align-content: space-around;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 100%;
} */

@media only screen and (max-width: 480) {


  .grid-container {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 835px) {
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;

  }
}
@media only screen and (min-width: 835px) and (max-width: 1024px){
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;


  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 100%;


  }
}

.item {
  padding: 15px 15px 15px 15px;
}
.item a {
  text-decoration: none;
  color: #707070;
}

.item a:hover {
  color: black;
}

.item img {
  width: 100%;
  height: auto;
}

.desc {
  margin-bottom: 15px;
}
.grid-container button {
  margin: 0;
  padding: 5px 20px 5px 20px;
}

/* Container needed to position the button. Adjust the width as needed */
.button-image {
  position: relative;
  width: 50%;
  object-fit: cover;
}

/* Make the image responsive */
.button-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Style the button and place it in the middle of the container/image */
.button-image .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.button-image .btn:hover {
  background-color: #ffc401;
}

#select {
  width: 100%;
}
/* passport icon list */

.iconList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}

.iconList .ServiceIcon {
  text-align: center;
  width: 100%;
  padding: 18px;
}

.iconList .ServiceIcon a {
  text-align: center;
}

.iconList .ServiceIcon img:hover {
  text-align: center;
  width: 100%;
}
.card-container {
  display: grid;
  text-align: left;
}

.informations{
  grid-template-columns: repeat(3, minmax(0, 1fr))
}
.title {
  margin: 25px 25px 0 25px;
}

.desc {
  margin: 0 25px 25px 25px;
}
